.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 350px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
@media(min-width: 1020px){
.main_content{
  padding: 80px 85px;
}
}

.nav-tabs{
  margin-bottom: 20px;
}
/*.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}*/
.details h1{
  font-size: 34px;
}
.post_top{
  top: 0 !important;
  height: 43% !important;
}
.img_bottom{
  margin-top: 100px;
}
.category_center{
  top: 145px !important;
}
.sponsored_cat{
  background: green !important;
}
.featured_cat{
   background:  #FF5722 !important;
}
.hot_cat{
  background: #D32F2F !important;
}
.popular_cat{
  background: #03A9F4 !important;

}
.post-module .thumbnail {
  background: #000000;
  height: 350px;
  overflow: hidden;padding: 0;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #f2b202;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .thumbnail .date .day {
 font-size: 18px;
    line-height: 31px;
    color: #fff;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 0 15px 5px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #f2b202;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #222 !important;
  font-size: 24px !important;
  font-weight: 700;    margin: 40px 0 0 !important;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #f2b202;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 0px 0px 10px;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.container .column {
     width: 100%;
    /* padding: 0 25px; */
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.container .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container .info span {
  color: #666666;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #f2b202;
}
.details{
  max-width: 900px;
  margin-left: 145px;
}
.details p{
/*  padding-left: 25px;
  padding-right: 25px;*/
  /*letter-spacing: 1px;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Vollkorn', serif;*/
  /*font-family: 'Droid Serif';*/
  font-family: 'PT Sans', sans-serif;
  line-height: 1.7;
  text-align: justify;
  font-size: 18px;
  font-weight: 200;
}
.mobile_tab{
  background: #eaebed;
  border: 0;
padding: 1em 2.5em;
}
.mobile_tab   li{
  list-style: none;
  margin: 0 auto;
  text-align: center;
  float: none;
    margin: 0 0 5px;
}
.mobile_tab   li a{
  border: 0;
  border-radius: 50px;
  color: #93a1af;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.active {
    background: #fff;
    color: #555;
    border-radius: 15px;
}

.details img{
  margin-bottom: 15px;

}

#content {
  overflow: hidden;
  height: 15em;
  line-height: 1em;
}
.center-block{
  display: block;
margin-right: auto;
margin-left: auto;
background: transparent;
padding: 15px 35px;
}

.popup{
/*  width:380px;
  height:180px;
  background:#67C58F;
  bottom: 20px;
  right: -380px;
  position:fixed;
  border-radius:5px;
  box-shadow: 0px 25px 10px -15px rgba(0, 0, 0, 0.05);

  z-index: 1;*/
      background: #fff;
    border: 1px solid #d5d5d5;
    bottom: -1px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
    padding: 25px;
    position: fixed;
    right: -1px;
    text-align: left;
    width: 330px;
    z-index: 1000;
      transition: 0.5s;
}

.close{
  position:absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  cursor:pointer;
  z-index:500;
}

.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
  outline: none;
}

.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #1f8b4d;
}

.ns-close:hover::before,
.ns-close:hover::after {
  background: #fff;
}

.ns-close::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}
.second_row{
  background: #028bb0;
}
.first_row{
  background: #ddd;
}
.first_row h4{
  font-weight: 700;
}
.advertisment{
  padding: 10px 15px;
  background: #444;
  color: white;
  margin: 10px;
}
.emails{
  padding: 10px 15px;
  color: white;
  margin: 10px;
  background: #444;

}
.emails h4,.advertisment h4{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}
@media(min-width: 1020px){
.second_row{
  padding: 0 45px;
}
.first_row{
  padding: 0 45px;
}
}
.details_advertiments{
  position: fixed;
list-style: none;
right: 20px;
width: 250px;
}
.details_advertiments li{
  margin-bottom: 20px;
}
.descriptions h2,.descriptions p{
  color: white;
}
#content h2{
  padding: 4px 0;
	font-size: 	24px;
}
#content p{
	padding: 4px 0;
}

.adv_form{
  padding: 20px;
}
