 @import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import 'variables';
 body{
	     font-family: 'Fira Sans', sans-serif;
       overflow-x: hidden;
}
.no_padding{
  padding: 0;
  margin: 5px;
  @media(min-width: 999px){
    width: 50%;
  }
}
@media(min-width:999px){
  .push_middle{
    margin-top: calc(10% - 45px);
    display: table-cell!important;
    vertical-align:middle;
    float:none;
    padding-top: 5%;

  }
}
.push_middle{

  .fa{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
}
#travel_header{
	text-align: center;
  // background-image: url('images/airport_plane_travel.jpg');
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)),
                rgba(0,0,0,0.55)     url(../images/banner_img.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    // text-align: center;
    // text-rendering: optimizeLegibility;
    // margin: 0;
    // padding: 10% 10px 15px;
    min-height: 500px;
    .navbar{
      background-color: rgba(0,0,0,0.5);
      border: none;
      padding: 10px;
    }
    .container{
      .title{
        padding: 10px;
      }
      hr{
        width: 15%;
        background-color: white !important;
        color: white !important;
        border: solid 2px white !important;
        height: 0px !important;
      }
      .main_text{
        @media(min-width: 720px){
          width: 60%;
          padding: 20px 60px;
          margin: 0 auto;
        }
      }
      li{
        margin-left:  calc(15% - 80px);
        margin-right:  calc(15% - 80px);
        @media(max-width: 540px){
          margin: 0;
        }
        .btn_single_trip{
          background: $layb5;

          &:hover{
            background: $primary_color;
            .fa{
              visibility: visible;
              color: $layw10;
            }
          }
        }
        .btn_annual_trip{
          background: $layb5;
          &:hover{
            background: $primary_color;
            .fa{
              visibility: visible;
              color: $layw10;
            }
          }
        }
        a{
          text-decoration: none;
        }
        button{
          font-size: 16px;
          letter-spacing: 1px;
          border: none;
          color: $layw10;
           @include transition(background-color .5s ease-out);
          padding: 15px 25px;
          text-align: left;
          box-shadow: none;
          border-radius: 5px;
          margin-bottom: 20px;
          .fa{
            font-size: 20px;
            vertical-align: middle;
            margin-right: 5px;
            color: $primary_color;
            @media(min-width: 1080px){
              // visibility: hidden;
            }
            @include transition(color .2s ease-in);
          }
        }
      }
    }
}

#popular_choice{
  td{
    border-top: none;
  }
.images{
  img{
    float: right;
    padding: 20px 5px;
    @media(max-width: 660px){
      float: none;

    }
  }
  .img-mockup{
    width: 100px;
    height:100px;
    background-color: grey;
    // float: right;
    // right: 20px;
  }
  vertical-align: inherit;
}
  .highlights{

  }
}
//buttons vertical
.buttons{
  // padding-top: 25px;
  // padding: 10px;
  .btn-group-vertical {
    border-radius: none;
    .btn{
      margin-bottom:15px;
      @media(max-width: 640px){
        display: inline-block;
      }
      // border-radius:10px !important;\
      &:first-child:not(:last-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
&:last-child {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
    }
  }
  ul{
    li{
      @media(max-width: 620px){
        display: inline-block;
      }
      margin-bottom: 10px;
      button{
        padding: 10px 25px;
        // width: calc(100% - 115px);
        @media(max-width: 620px){
          width: auto;
        }
      }
    }
  }
}

#picked_articles{
  background-color: $layb3;
  .title{
    color: $layw10;
    padding: 10px 0;
  }
}
.buttons{
padding-top: 0;
  .btn{
    margin-bottom: 10px;
  }
  .btn_learn_more{
    background-color: $layw7;
    border: 2px solid $active_color;
    color: $layb10;
    width: 100%;
    @include transition(background-color .5s ease-out);
    &:hover{
      background-color: $active_color;
      color: $layw10;
    }
  }
  .btn_buy_now{
    background-color: $layw7;
    border: 2px solid $btn_buy_now;
    color: $layb10;
    width: 100%;
    @include transition(background-color .5s ease-out);
    &:hover{
      background-color: $btn_buy_now;
      color: $layw10;
    }
  }
}
#new_flow{
.insurance_description{
  .insurer_name{
    margin: 8px 0;
    font-size: 18px;
    padding-bottom:  5px;
  }
  p{
    padding: 0;
    margin: 0;
  }
}

.fa-star{
  margin-top: 10px;
  color: $star_color;
}
.product_highlights{
  font-size: 13px;
}
.card_one1{
  // @extend .card;
  background-color:$card_one;
  border-radius: 5px;
  border-bottom: 3px solid #FEEAD2;
  // opacity: 0.5;
}
.card_two1{
  // @extend .card;
  background-color:$card_two;
  border-radius: 5px;
  border-bottom: 3px solid #FCDFD1;
}

.card_three1{
  // @extend .card;
  background-color:$card_three;
  border-radius: 5px;
  border-bottom: 3px solid #F7D5DF;
}
.card_four1{
  // @extend .card;
  background-color:$card_four;
  border-radius: 5px;
  border-bottom: 3px solid #EAD3DD;
}
.card_five1{
  // @extend .card1;
// margin: 50px auto;
@media(max-width: 667px){
  margin:75px 0 10px;
}
}
}
.fa-star{
  margin-top: 10px;
  color: $star_color;
}
.card{
  padding: 2px;
  margin-bottom: 5px;
  // @media(min-width: 720px){
  //   width: 23%;
  //   margin: 0 5px;
  // }
}
.card1{
  min-height: 101px;
  @media(min-width: 720px){
    width: 23%;
    margin: 0 5px;
  }
  @media(max-width: 667px){
    width: 45%;
    margin: 5px;
  }
}
.cards{
  .card_one{
    @extend .card;
    background-color:$card_one;
    border-radius: 5px;
    border-bottom: 3px solid #FEEAD2;
    // opacity: 0.5;
  }
  .card_two{
    @extend .card;
    background-color:$card_two;
    border-radius: 5px;
    border-bottom: 3px solid #FCDFD1;
  }

  .card_three{
    @extend .card;
    background-color:$card_three;
    border-radius: 5px;
    border-bottom: 3px solid #F7D5DF;
  }
  .card_four{
    @extend .card;
    background-color:$card_four;
    border-radius: 5px;
    border-bottom: 3px solid #EAD3DD;
  }
  .card_five{
    @extend .card;
  // margin: 50px auto;
  @media(max-width: 667px){
    margin: 25% 0 20px;
  }
  .product_highlights{
    font-size: 18px;
    font-weight: bold;
  }

  }
}

.price_info{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
#new_flow1{
  @extend .cards ;
  margin: 20px 0;
  .card_one{
    @extend .card;
    background-color:$card_one;
    border-radius: 5px;
    border-bottom: 3px solid #FEEAD2;
    // opacity: 0.5;
  }
  .card_two{
    @extend .card;
    background-color:$card_two;
    border-radius: 5px;
    border-bottom: 3px solid #FCDFD1;
  }

  .card_three{
    @extend .card;
    background-color:$card_three;
    border-radius: 5px;
    border-bottom: 3px solid #F7D5DF;
  }
  .card_four{
    @extend .card;
    background-color:$card_four;
    border-radius: 5px;
    border-bottom: 3px solid #EAD3DD;
  }
  .card_five{
    // @extend .card1;
  // margin: 50px auto;
  @media(max-width: 667px){
    margin:0 0 10px;
  }
  }
}
.card_one{
  @extend .card1;
  background-color:$card_one;
  border-radius: 5px;
  border-bottom: 3px solid #FEEAD2;
  // opacity: 0.5;
}
.card_two{
  @extend .card1;
  background-color:$card_two;
  border-radius: 5px;
  border-bottom: 3px solid #FCDFD1;
}

.card_three{
  @extend .card1;
  background-color:$card_three;
  border-radius: 5px;
  border-bottom: 3px solid #F7D5DF;
}
.card_four{
  @extend .card1;
  background-color:$card_four;
  border-radius: 5px;
  border-bottom: 3px solid #EAD3DD;
}
.card_five{
  // @extend .card1;
// margin: 50px auto;
@media(max-width: 667px){
  margin:0 0 10px;
}
}
#modify_search{
  // position: fixed;
  background-color: $layb1;
  width: 100%;
  padding: 10px;

  position:absolute;
 // background:#428bca;
 // color:#fff;
 // line-height:30px;
 // letter-spacing:1px;
 // width:100%;
// height:50px;
}

#insurer_main_description{
  margin-top: 120px;
  // padding-bottom: 10px;
  p{
    width: 80%;
    padding: 0 20px 0 0;
    text-align: justify;
  }
border-bottom: 1px solid $layb5;
}

#insurer_plans{
  h5,h6{
    margin: 2px;
  }
  .rounded_border{
    @media(min-width: 999px){
      // width: 80%;
      // margin-left: 10%;
    }
    border: 2px solid $primary_color;
    border-radius: 10px;
    padding: 10px;
  }
}
//sticky search

.sticky {
    position:fixed !important;
    top:0;
    z-index: 99999;
    background-color: grey !important;
    display: table;
}

.active_plan{
  background-color: rgba($star_color,0.9);
  color: $layw10;
}
#option_4{
  padding: 10px;
  .row{
    display: table !important;
    }
  }
  .insurer_name{
    @media(max-width: 667px){
      text-align: center;
    }
}
